# ignore .idea and .vscode folders
.idea/
.vscode/

# ignore build and dist folders
build/
dist/

# ignore .pyc and .pyo files
*.pyc
*.pyo

# ignore .coverage and .coverage.xml files
.coverage
.coverage.xml

# ignore .DS_Store files
.DS_Store

# ignore .env files
.env

# ignore __pycache__ folders
__pycache__/

# ignore node_modules and yarn.lock files
node_modules/
yarn.lock