# ignore git directory
.gitignore
# ignore node_modules
node_modules/
# ignore .vscode
.vscode/
# ignore .env
.env
# ignore build folder
build/

# ignore coverage folder
coverage/
# ignore pyc files
*.pyc
# ignore __pycache__
__pycache__/